# 作業 : (Kaggle)鐵達尼生存預測
***
- 分數以網站評分結果為準, 請同學實際將提交檔(*.csv)上傳試試看  
https://www.kaggle.com/c/titanic/submit

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察觀查混合泛化 (Blending) 的寫法與效果

# [作業重點]
- 觀察混合泛化的準確度 (In[14]), 是否比單一模型準確度為高 (In[11~13])  
- 除了我們的權重, 同學也可以試著自行調整權重 (注意:權重和=1), 看看有什麼影響
- Hint : 除了權重, 分類預測的調整, 還可以調整什麼地方?

In [3]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data/titanic/'
df_train = pd.read_csv(data_path + 'train.csv')
df_test = pd.read_csv(data_path + 'test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# 檢查 DataFrame 空缺值的狀態
def na_check(df_data):
    data_na = (df_data.isnull().sum() / len(df_data)) * 100
    data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'Missing Ratio' :data_na})
    display(missing_data.head(10))
na_check(df)

          Missing Ratio
Cabin         77.463713
Age           20.091673
Embarked       0.152788
Fare           0.076394

In [5]:
# 以下 In[3]~In[10] 只是鐵達尼預測中的一組特徵工程, 並以此組特徵工程跑參數, 若更換其他特徵工程, In[10]的參數需要重新跑
# Sex : 直接轉男 0 女 1
df["Sex"] = df["Sex"].map({"male": 0, "female":1})
# Fare : 用 log 去偏態, 0 則直接取 0
df["Fare"] = df["Fare"].map(lambda i: np.log(i) if i > 0 else 0)
# Age : 缺值用中位數補
df["Age"] = df["Age"].fillna(df['Age'].median())

In [7]:
# Title 的 特徵工程 : 將各種頭銜按照類型分類, 最後取 One Hot
df_title = [i.split(",")[1].split(".")[0].strip() for i in df["Name"]]
df["Title"] = pd.Series(df_title)
df["Title"] = df["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
df["Title"] = df["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
df["Title"] = df["Title"].astype(int)
df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,1.981001,NaN,S,2
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,4.266662,C85,C,1
2,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,2.070022,NaN,S,1
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,3.972177,C123,S,1
4,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,2.085672,NaN,S,2
...,...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",0,28.0,0,0,A.5. 3236,2.085672,NaN,S,2
414,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,4.690430,C105,C,2
415,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,1.981001,NaN,S,1
416,3,"Ware, Mr. Frederick",0,28.0,0,0,359309,2.085672,NaN,S,1
417,3,"Peter, Master. Michael J",0,28.0,1,1,2668,3.107198,NaN,C,1

In [8]:
df = pd.get_dummies(df, columns = ["Title"])
df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title_0,Title_1,Title_2,Title_3
0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,1.981001,NaN,S,0,0,1,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,4.266662,C85,C,0,1,0,0
2,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,2.070022,NaN,S,0,1,0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,3.972177,C123,S,0,1,0,0
4,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,2.085672,NaN,S,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",0,28.0,0,0,A.5. 3236,2.085672,NaN,S,0,0,1,0
414,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,4.690430,C105,C,0,0,1,0
415,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,1.981001,NaN,S,0,1,0,0
416,3,"Ware, Mr. Frederick",0,28.0,0,0,359309,2.085672,NaN,S,0,1,0,0
417,3,"Peter, Master. Michael J",0,28.0,1,1,2668,3.107198,NaN,C,0,1,0,0

In [9]:
# 新建:家庭大小 (Fsize)特徵, 並依照大小分別建獨立欄位
df["Fsize"] = df["SibSp"] + df["Parch"] + 1
df['Single'] = df['Fsize'].map(lambda s: 1 if s == 1 else 0)
df['SmallF'] = df['Fsize'].map(lambda s: 1 if  s == 2  else 0)
df['MedF'] = df['Fsize'].map(lambda s: 1 if 3 <= s <= 4 else 0)
df['LargeF'] = df['Fsize'].map(lambda s: 1 if s >= 5 else 0)

In [10]:
# Ticket : 如果不只是數字-取第一個空白之前的字串(去除'.'與'/'), 如果只是數字-設為'X', 最後再取 One Hot
Ticket = []
for i in list(df.Ticket):
    if not i.isdigit() :
        Ticket.append(i.replace(".","").replace("/","").strip().split(' ')[0])
    else:
        Ticket.append("X")        
df["Ticket"] = Ticket
df = pd.get_dummies(df, columns = ["Ticket"], prefix="T")
df

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Title_0,...,T_SOTONO2,T_SOTONOQ,T_SP,T_STONO,T_STONO2,T_STONOQ,T_SWPP,T_WC,T_WEP,T_X
0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,1.981001,NaN,S,0,...,0,0,0,0,0,0,0,0,0,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,4.266662,C85,C,0,...,0,0,0,0,0,0,0,0,0,0
2,3,"Heikkinen, Miss. Laina",1,26.0,0,0,2.070022,NaN,S,0,...,0,0,0,0,1,0,0,0,0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,3.972177,C123,S,0,...,0,0,0,0,0,0,0,0,0,1
4,3,"Allen, Mr. William Henry",0,35.0,0,0,2.085672,NaN,S,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",0,28.0,0,0,2.085672,NaN,S,0,...,0,0,0,0,0,0,0,0,0,0
414,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,4.690430,C105,C,0,...,0,0,0,0,0,0,0,0,0,0
415,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,1.981001,NaN,S,0,...,0,1,0,0,0,0,0,0,0,0
416,3,"Ware, Mr. Frederick",0,28.0,0,0,2.085672,NaN,S,0,...,0,0,0,0,0,0,0,0,0,1
417,3,"Peter, Master. Michael J",0,28.0,1,1,3.107198,NaN,C,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
# Cabib 依照第一碼分類, 再取 One Hot
df["Cabin"] = pd.Series([i[0] if not pd.isnull(i) else 'X' for i in df['Cabin'] ])
df = pd.get_dummies(df, columns = ["Cabin"], prefix="Cabin")

In [12]:
# Embarked, Pclass 取 One Hot
df = pd.get_dummies(df, columns = ["Embarked"], prefix="Em")
df["Pclass"] = df["Pclass"].astype("category")
df = pd.get_dummies(df, columns = ["Pclass"], prefix="Pc")

# 捨棄 Name 欄位
df.drop(labels = ["Name"], axis = 1, inplace = True)

In [13]:
# 確認缺值 與 目前的資料表內容
na_check(df)
df.head()

Empty DataFrame
Columns: [Missing Ratio]
Index: []

,Sex,Age,SibSp,Parch,Fare,Title_0,Title_1,Title_2,Title_3,Fsize,...,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Em_C,Em_Q,Em_S,Pc_1,Pc_2,Pc_3
0,0,22.0,1,0,1.981001,0,0,1,0,2,...,0,0,0,1,0,0,1,0,0,1
1,1,38.0,1,0,4.266662,0,1,0,0,2,...,0,0,0,0,1,0,0,1,0,0
2,1,26.0,0,0,2.070022,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,1
3,1,35.0,1,0,3.972177,0,1,0,0,2,...,0,0,0,0,0,0,1,1,0,0
4,0,35.0,0,0,2.085672,0,0,1,0,1,...,0,0,0,1,0,0,1,0,0,1

In [14]:
# 將資料最大最小化
df = MinMaxScaler().fit_transform(df)

# 將前述轉換完畢資料 df , 重新切成 train_X, test_X
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

# 使用三種模型 : 邏輯斯迴歸 / 梯度提升機 / 隨機森林, 參數使用 Random Search 尋找
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
lr = LogisticRegression(tol=0.001, penalty='l2', fit_intercept=True, C=1.0)
gdbt = GradientBoostingClassifier(tol=100, subsample=0.75, n_estimators=250, max_features=20,
                                  max_depth=6, learning_rate=0.03)
rf = RandomForestClassifier(n_estimators=100, min_samples_split=2, min_samples_leaf=1, 
                            max_features='sqrt', max_depth=6, bootstrap=True)

In [15]:
# 線性迴歸預測檔 (結果有部分隨機, 請以 Kaggle 計算的得分為準, 以下模型同理)
lr.fit(train_X, train_Y)
lr_pred = lr.predict_proba(test_X)[:,1]
sub = pd.DataFrame({'PassengerId': ids, 'Survived': lr_pred})
sub['Survived'] = sub['Survived'].map(lambda x:1 if x>0.5 else 0) 
sub.to_csv('titanic_lr.csv', index=False)

In [16]:
# 梯度提升機預測檔 
gdbt.fit(train_X, train_Y)
gdbt_pred = gdbt.predict_proba(test_X)[:,1]
sub = pd.DataFrame({'PassengerId': ids, 'Survived': gdbt_pred})
sub['Survived'] = sub['Survived'].map(lambda x:1 if x>0.5 else 0) 
sub.to_csv('titanic_gdbt.csv', index=False)

In [17]:
# 隨機森林預測檔
rf.fit(train_X, train_Y)
rf_pred = rf.predict_proba(test_X)[:,1]
sub = pd.DataFrame({'PassengerId': ids, 'Survived': rf_pred})
sub['Survived'] = sub['Survived'].map(lambda x:1 if x>0.5 else 0) 
sub.to_csv('titanic_rf.csv', index=False)

In [29]:
from sklearn.svm import SVC
svm = SVC(kernel='linear' , C=0.1 , gamma='auto' , probability=True)
svm.fit(train_X , train_Y)
svm_pred = svm.predict_proba(test_X)[: , 1]
svm_pred

array([0.16100171, 0.8042543 , 0.5784983 , 0.5789758 , 0.37812128,
       0.16052983, 0.42202106, 0.80367078, 0.81238271, 0.57696544,
       0.55813118, 0.58074057, 0.37771421, 0.15708343, 0.77941453,
       0.8119194 , 0.80085151, 0.1630282 , 0.80886539, 0.80794405,
       0.15879125, 0.16905399, 0.80777229, 0.17171254, 0.19196439,
       0.56202121, 0.38697676, 0.16548382, 0.57768734, 0.1653308 ,
       0.19252088, 0.61599484, 0.80114889, 0.31887344, 0.16539753,
       0.16339343, 0.36981616, 0.37168086, 0.57493548, 0.57925403,
       0.57987789, 0.58073041, 0.1602385 , 0.81109856, 0.80748654,
       0.16416081, 0.16073784, 0.58032146, 0.37776216, 0.81420851,
       0.79751432, 0.16326643, 0.81043942, 0.17850581, 0.1786678 ,
       0.00992159, 0.57175819, 0.15866532, 0.57271617, 0.92595544,
       0.15985722, 0.60574017, 0.16231758, 0.92459777, 0.01097169,
       0.92476164, 0.81568945, 0.16013976, 0.5872682 , 0.03009155,
       0.37681954, 0.57546378, 0.3695369 , 0.16301824, 0.38655409,
       0.17190893, 0.15831698, 0.37224743, 0.79742196, 0.81130431,
       0.16999186, 0.15531061, 0.57511219, 0.15828719, 0.58778593,
       0.57953064, 0.37613797, 0.36808483, 0.81362726, 0.1709325 ,
       0.3700115 , 0.15826344, 0.3926021 , 0.15831698, 0.16649837,
       0.15869446, 0.37454914, 0.16955255, 0.80777652, 0.15517763,
       0.81233892, 0.16223675, 0.16785311, 0.15854793, 0.38517477,
       0.16312418, 0.58220037, 0.16192481, 0.15843885, 0.58409156,
       0.16757816, 0.81065569, 0.37620993, 0.81209281, 0.80358724,
       0.16294272, 0.16183057, 0.39110898, 0.18108984, 0.81299971,
       0.38396667, 0.16032395, 0.38040322, 0.62298527, 0.16785311,
       0.92380749, 0.15912229, 0.38136355, 0.58339387, 0.15888653,
       0.15531756, 0.16253789, 0.18999776, 0.57721119, 0.15616644,
       0.1588485 , 0.59156097, 0.16557868, 0.37744296, 0.00924047,
       0.1530408 , 0.81316528, 0.07027455, 0.16370685, 0.16012945,
       0.14889276, 0.16320299, 0.57068597, 0.16519593, 0.19937834,
       0.4393186 , 0.58556968, 0.15063964, 0.37788551, 0.00875451,
       0.13702925, 0.81108277, 0.37094777, 0.16012945, 0.92755293,
       0.37584766, 0.59452255, 0.37758203, 0.1581018 , 0.79551713,
       0.92502309, 0.62854512, 0.0612214 , 0.38287643, 0.37152964,
       0.14889018, 0.79722454, 0.57361825, 0.16201253, 0.00926057,
       0.39216928, 0.92669656, 0.58498081, 0.36969048, 0.38094189,
       0.58104749, 0.16703817, 0.92474554, 0.80053129, 0.81977553,
       0.16710815, 0.78606459, 0.15896657, 0.01897964, 0.16087676,
       0.57903846, 0.16211578, 0.5814893 , 0.799975  , 0.62453127,
       0.59736665, 0.17772526, 0.37211928, 0.58508481, 0.80650411,
       0.3776687 , 0.1686795 , 0.16203172, 0.38957007, 0.16425423,
       0.55085372, 0.37416621, 0.16285788, 0.81114571, 0.16454796,
       0.16254237, 0.58035857, 0.16266174, 0.3684556 , 0.02592624,
       0.58905631, 0.81067839, 0.16429456, 0.82547583, 0.15831698,
       0.37446776, 0.15931479, 0.33823137, 0.15926511, 0.37614015,
       0.38699787, 0.15897958, 0.3758533 , 0.15901221, 0.5794594 ,
       0.59473855, 0.37791937, 0.15740569, 0.58036888, 0.16137008,
       0.57571331, 0.16086289, 0.58259764, 0.38526339, 0.37380673,
       0.81096495, 0.81614204, 0.16974344, 0.15828557, 0.13121454,
       0.19411263, 0.81296291, 0.58683637, 0.38571008, 0.4261084 ,
       0.37661881, 0.55568775, 0.16995506, 0.15911381, 0.57295036,
       0.57627917, 0.57575312, 0.598763  , 0.81289324, 0.57541957,
       0.15672413, 0.79374718, 0.43474475, 0.40677616, 0.59091227,
       0.15828719, 0.15706448, 0.15972553, 0.80665768, 0.58162263,
       0.16509829, 0.16192481, 0.81666404, 0.3794059 , 0.58048011,
       0.81863775, 0.57639602, 0.16036027, 0.79822523, 0.5375455 ,
       0.37120181, 0.17058846, 0.3758533 , 0.38844504, 0.39425807,
       0.15460023, 0.16198901, 0.16289699, 0.16201253, 0.56909765,
       0.57634614, 0.8252224 , 0.16794339, 0.58367903, 0.15743666,
       0.15857171, 0.37743857, 0.59133297, 0.16537805, 0.59842711,
       0.57250807, 0.16679594, 0.13941819, 0.62456826, 0.3758533 ,
       0.9247304 , 0.57264118, 0.58665664, 0.16368821, 0.83253659,
       0.58135794, 0.6071869 , 0.56892321, 0.37368508, 0.37542712,
       0.80961609, 0.57660806, 0.1955294 , 0.5786949 , 0.64120431,
       0.15854793, 0.16244758, 0.58210626, 0.579407  , 0.37900431,
       0.5865172 , 0.36915635, 0.59137703, 0.58036186, 0.6085534 ,
       0.81770307, 0.16426132, 0.16467498, 0.38607134, 0.57387571,
       0.16182612, 0.16469606, 0.63715802, 0.16600511, 0.16493565,
       0.80442546, 0.57726933, 0.00676356, 0.37867226, 0.16018214,
       0.81182214, 0.58210626, 0.80910316, 0.7985257 , 0.37710287,
       0.37633761, 0.16512495, 0.16251646, 0.15533849, 0.37008565,
       0.15895244, 0.83779274, 0.57360499, 0.58032146, 0.80549314,
       0.00622145, 0.38704332, 0.81350399, 0.15857229, 0.38273229,
       0.02092589, 0.59021437, 0.81034387, 0.81426463, 0.60712144,
       0.19074307, 0.386332  , 0.15412063, 0.16030143, 0.8125584 ,
       0.8131596 , 0.80941103, 0.16612067, 0.15925007, 0.0088295 ,
       0.58032146, 0.58089825, 0.37134101, 0.80739069, 0.15899846,
       0.37074583, 0.79320284, 0.57390122, 0.16294096, 0.0690069 ,
       0.17926773, 0.36721604, 0.16891749, 0.5894145 , 0.06365819,
       0.37809699, 0.58118895, 0.38662735, 0.19038713, 0.57952124,
       0.38053727, 0.16031517, 0.81795401, 0.16465902, 0.58106973,
       0.16416069, 0.16139393, 0.80593806, 0.37584343, 0.81971967,
       0.3758533 , 0.38075543, 0.80945599, 0.15587832, 0.37872166,
       0.57765969, 0.57366649, 0.59005847])

# 作業
* 雖然同樣是混合泛化，分類預測其實與回歸預測有相當多的差異性，
因為鐵達尼預測的結果是 '生存/死亡'，輸出不是 0 就是 1  
因此要用權重混合時，需要以以機率的形式混合，因此我們在作業前幾格當中，先幫各位同學把預測值寫成了機率的形式  
(請同學把下列程式完成，並將結果提交到 Kaggle 網站看看結果)

* 但是光是這樣，分類問題的混合泛化就能比單模預測還要好嗎?  
已經快要期中考了，這裡請同學挑戰看看，還有沒有什麼方法可以改進混合泛化的結果?

In [32]:
# 混合泛化預測檔 
"""
Your Code Here
"""
blending_pred = gdbt_pred*0.4  + svm_pred*0.3 + rf_pred*0.3
sub = pd.DataFrame({'PassengerId': ids, 'Survived': blending_pred})
sub

     PassengerId  Survived
0            892  0.106505
1            893  0.453015
2            894  0.514487
3            895  0.516885
4            896  0.245426
..           ...       ...
413         1305  0.101624
414         1306  0.512236
415         1307  0.327500
416         1308  0.379799
417         1309  0.652521

[418 rows x 2 columns]

In [33]:
sub['Survived'] = sub['Survived'].map(lambda x : 1 if x > 0.5 else 0 )
sub.to_csv('titanic_blending.csv', index=False)
sub

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]