In [16]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler , StandardScaler
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [17]:
train  = pd.read_csv('./train_data.csv')
test = pd.read_csv('./test_features.csv')
label = pd.read_csv('./sample_submission.csv')
print(f'train:{train.shape}')
print(f'test:{test.shape}')
print(f'label:{label.shape}')

train:(113, 22)
test:(33, 21)
label:(33, 2)

In [18]:
train['poi'] = train['poi'].map(lambda x : 1 if x == True else 0)
train['poi']

0      1
1      1
2      1
3      1
4      1
      ..
108    0
109    0
110    0
111    0
112    0
Name: poi, Length: 113, dtype: int64

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       113 non-null    object
 1   bonus                      61 non-null     float64
 2   deferral_payments          28 non-null     float64
 3   deferred_income            34 non-null     float64
 4   director_fees              13 non-null     float64
 5   email_address              83 non-null     object
 6   exercised_stock_options    81 non-null     float64
 7   expenses                   73 non-null     float64
 8   from_messages              65 non-null     float64
 9   from_poi_to_this_person    65 non-null     float64
 10  from_this_person_to_poi    65 non-null     float64
 11  loan_advances              2 non-null      float64
 12  long_term_incentive        49 non-null     float64
 13  other                      69 non-null     float64
 14  poi                        113 non-null    int64
 15  restricted_stock           82 non-null     float64
 16  restricted_stock_deferred  10 non-null     float64
 17  salary                     73 non-null     float64
 18  shared_receipt_with_poi    65 non-null     float64
 19  to_messages                65 non-null     float64
 20  total_payments             96 non-null     float64
 21  total_stock_value          98 non-null     float64
dtypes: float64(19), int64(1), object(2)
memory usage: 19.5+ KB

In [50]:
columns =[]
for i in train.columns:
    if train[i].dtype in ['int64' , 'float64']:
        train[i] = train[i].fillna(train[i].mean())
        columns.append(i)
print(f'fillna:{columns}')
print(f'fillna:{len(columns)}')

fillna:['bonus', 'deferral_payments', 'deferred_income', 'director_fees', 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person', 'from_this_person_to_poi', 'loan_advances', 'long_term_incentive', 'other', 'poi', 'restricted_stock', 'restricted_stock_deferred', 'salary', 'shared_receipt_with_poi', 'to_messages', 'total_payments', 'total_stock_value']
fillna:20

In [53]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       113 non-null    object
 1   bonus                      113 non-null    float64
 2   deferral_payments          113 non-null    float64
 3   deferred_income            113 non-null    float64
 4   director_fees              113 non-null    float64
 5   email_address              83 non-null     object
 6   exercised_stock_options    113 non-null    float64
 7   expenses                   113 non-null    float64
 8   from_messages              113 non-null    float64
 9   from_poi_to_this_person    113 non-null    float64
 10  from_this_person_to_poi    113 non-null    float64
 11  loan_advances              113 non-null    float64
 12  long_term_incentive        113 non-null    float64
 13  other                      113 non-null    float64
 14  poi                        113 non-null    int64
 15  restricted_stock           113 non-null    float64
 16  restricted_stock_deferred  113 non-null    float64
 17  salary                     113 non-null    float64
 18  shared_receipt_with_poi    113 non-null    float64
 19  to_messages                113 non-null    float64
 20  total_payments             113 non-null    float64
 21  total_stock_value          113 non-null    float64
dtypes: float64(19), int64(1), object(2)
memory usage: 19.5+ KB

In [55]:
X = train.drop(['name' , 'email_address' , 'poi' ] , axis=1)
y = train['poi']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bonus                      113 non-null    float64
 1   deferral_payments          113 non-null    float64
 2   deferred_income            113 non-null    float64
 3   director_fees              113 non-null    float64
 4   exercised_stock_options    113 non-null    float64
 5   expenses                   113 non-null    float64
 6   from_messages              113 non-null    float64
 7   from_poi_to_this_person    113 non-null    float64
 8   from_this_person_to_poi    113 non-null    float64
 9   loan_advances              113 non-null    float64
 10  long_term_incentive        113 non-null    float64
 11  other                      113 non-null    float64
 12  restricted_stock           113 non-null    float64
 13  restricted_stock_deferred  113 non-null    float64
 14  salary                     113 non-null    float64
 15  shared_receipt_with_poi    113 non-null    float64
 16  to_messages                113 non-null    float64
 17  total_payments             113 non-null    float64
 18  total_stock_value          113 non-null    float64
dtypes: float64(19)
memory usage: 16.9 KB

In [64]:
#先做最基礎的無修正資料看準確度
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
X_train , X_test , y_train , y_test = train_test_split(X , y , train_size=0.8 , random_state=1)
model = GradientBoostingClassifier(n_estimators=100)
model.fit(X_train , y_train)
y_pred = model.predict(X_test)
print(accuracy_score(y_test , y_pred))
cross_val_score(model ,X , y , cv=10 , scoring='accuracy').mean()

0.8695652173913043

0.85

In [65]:
label

                    name       poi
0       BELDEN TIMOTHY N  0.007201
1     BOWEN JR RAYMOND M  0.903340
2         HANNON KEVIN P  0.572731
3       DELAINEY DAVID W  0.950927
4       CAUSEY RICHARD A  0.942402
5       HICKERSON GARY J  0.013530
6         FREVERT MARK A  0.275866
7            CHAN RONNIE  0.144731
8   DONAHUE JR JEFFREY M  0.388124
9      REYNOLDS LAWRENCE  0.032208
10      HORTON STANLEY C  0.300574
11         LEWIS RICHARD  0.616451
12    SHERRICK JEFFREY B  0.440055
13        MEYER JEROME J  0.657208
14   DERRICK JR. JAMES V  0.833014
15              PIRO JIM  0.413224
16   DETMERING TIMOTHY J  0.720923
17     KISHKILL JOSEPH G  0.904454
18        BAY FRANKLIN R  0.298674
19        PRENTICE JAMES  0.148842
20                 TOTAL  0.351439
21        FALLON JAMES B  0.284129
22            METTS MARK  0.568772
23         WODRASKA JOHN  0.890761
24   MORDAUNT KRISTINA M  0.838412
25      CARTER REBECCA C  0.354295
26      BHATNAGAR SANJAY  0.581497
27      WALTERS GARETH W  0.686543
28       BIBI PHILIPPE A  0.200387
29       SHERRIFF JOHN R  0.117766
30          GIBBS DANA R  0.981511
31        LINDHOLM TOD A  0.863221
32       MCMAHON JEFFREY  0.912239

In [69]:
columns =[]
for i in test.columns:
    if test[i].dtype in ['int64' , 'float64']:
        test[i] = test[i].fillna(test[i].mean())
        columns.append(i)
test_x = test.drop(['name' , 'email_address' ] , axis=1)
test_name = test['name']
test_pred = model.predict_proba(test_x)
test_pred

array([[9.97279618e-01, 2.72038246e-03],
       [6.53999787e-04, 9.99346000e-01],
       [1.26074498e-01, 8.73925502e-01],
       [9.95225592e-01, 4.77440845e-03],
       [6.99622645e-03, 9.93003774e-01],
       [1.42474383e-03, 9.98575256e-01],
       [8.00305374e-04, 9.99199695e-01],
       [5.14518420e-04, 9.99485482e-01],
       [9.99153617e-01, 8.46382530e-04],
       [7.83466424e-01, 2.16533576e-01],
       [8.98143262e-01, 1.01856738e-01],
       [8.30323074e-01, 1.69676926e-01],
       [8.96696078e-01, 1.03303922e-01],
       [1.38123848e-03, 9.98618762e-01],
       [2.37801928e-03, 9.97621981e-01],
       [1.05566273e-03, 9.98944337e-01],
       [9.99555620e-01, 4.44379521e-04],
       [3.07418569e-04, 9.99692581e-01],
       [4.66390170e-03, 9.95336098e-01],
       [7.47741817e-01, 2.52258183e-01],
       [2.37077890e-04, 9.99762922e-01],
       [6.88171479e-01, 3.11828521e-01],
       [1.40196966e-03, 9.98598030e-01],
       [3.49651640e-04, 9.99650348e-01],
       [1.14440936e-03, 9.98855591e-01],
       [2.10294952e-02, 9.78970505e-01],
       [8.39695662e-01, 1.60304338e-01],
       [5.51854822e-01, 4.48145178e-01],
       [9.97779228e-01, 2.22077214e-03],
       [2.56829035e-01, 7.43170965e-01],
       [8.18420041e-01, 1.81579959e-01],
       [9.80357804e-01, 1.96421955e-02],
       [8.86449518e-01, 1.13550482e-01]])

In [72]:
result = pd.DataFrame({'name':test_name , 'poi':test_pred[:,1]})
result.to_csv('./result_gdbt.csv' , index=False)